################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SortingAlgorithms/obj
/SortingAlgorithms/bin
/.vs
